<main class="home-container">
  <form class="search-form" action="/puppeteer" method="post">
    <header class="form-header">
      <h1>
        Dev<b>Scrapper</b>
      </h1>
    </header>
    <section class="form-section">
      <label>
        <input type="text" placeholder="https://meu-site.com" />
        <input type="submit" value="Buscar" />
      </label>
    </section>
    <footer class="form-footer">
      <label>
        <p>Criador: <a href="https://www.github.com/kaid3v">KaiD3v</a></p>
      </label>
    </footer>
  </form>
</main>